<div class="login-container">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-3">
                <div class="avatar-frame-offline marto15 marbo15">
                    <img src="assets/img/generic_avatar.png" class="img-fluid avatar-image">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="center">
                    <h3>Iniciar sesion</h3>
                </div>
                <div class="bordered-container">
                    <input type="email" placeholder="Ingrese su email" class="form-control">
                    <input type="password" placeholder="Ingrese su constraseña" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>